NEXT_PUBLIC_AGENT_FACTORY_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3200
NEXT_PUBLIC_HUB_URL=http://localhost:3000
NEXT_PUBLIC_KEYCLOAK_AUTH_URL=http://localhost:8081/realms/ametis/protocol/openid-connect/auth
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=agent-factory-web
