NEXT_PUBLIC_NEWSLETTER_API_BASE_URL=http://localhost:8082
NEXT_PUBLIC_HUB_URL=http://localhost:3000
NEXT_PUBLIC_NEWSLETTER_WEB_URL=http://localhost:3100
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_KEYCLOAK_AUTH_URL=http://localhost:8081/realms/ametis/protocol/openid-connect/auth
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=core-api
